!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= @page_title || APP_CONFIG[:site_name]
    %meta{ :content => "text/xhtml; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %meta{ :name => "distribution", :content => "all" }
    %meta{ :name => "robots", :content => "all" }
    %meta{ :name => "resource-type", :content => "document" }
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }
    = stylesheet_link_merged :screen
    /[if IE]
      = stylesheet_link_merged :ie
    = javascript_include_merged :base
  %body
    .container.box
      #header.span-24
        %p#top_info
          - if logged_in?
            = link_to 'Logout', logout_path
          - else
            = link_to 'Login', login_path
            or
            = link_to 'Signup', signup_path
        #logo
          %h1
            = APP_CONFIG[:site_name]
        %ul
      #content.span-24
        = flash_messages
        = yield :layout
      #footer.span-24
